.notFound__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notFound__container-icon{
    color: red;
    font-size: 200px !important;
}
.notFound__container-detail{
    font-size: 3rem;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.notFound__container-detail > a{
    color: rgb(0, 72, 255);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 0.7rem;
}

@media all and (max-width: 800px){
    .notFound__container-icon{
        font-size: 100px !important;
    }
    .notFound__container-detail{
        font-size: 1.5rem;
    }
    .notFound__container-detail > a{
        font-size: 1.2rem;
    }
}