.signup__container{
   width: 100vw;
   height: 100vh;
   background: rgb(255, 255, 255);
   /* background: linear-gradient(240deg, rgba(0,0,0,1) 0%, rgba(42,98,164,1) 48%, rgba(20,215,200,1) 100%, rgba(0,212,255,1) 100%); */
   display: flex;
}
.signup__container-block{
    width: 100vw;
    height: 100vh;
}
.block1{
    flex-basis: 65%;
}
.block2{
    flex-basis: 35%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -15px 15px 0px rgb(255, 115, 0), -30px 30px 0px rgb(0, 0, 0);
}
.block2 > span{
    font-size: 55px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    line-height: 60px;
    padding-top: 10px;
}
.block2 > img{
    width: 200px;
}
.block2 > p{
    padding-top: 20px;
    font-size: 18px;
}
.block2 a{
    font-weight: 800;
}
.block1 > .signup__container-form{
    padding: 20px;
    margin: 7% auto;
    width: 400px;
    height: 490px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.signup__container-formHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup__container-formHeader > img{
    width: 60px;
}
.signup__container-formHeader > span{
    display: inline-block;
    margin-top: 5px;
    font-size: 23px;
    font-weight: 700;
    color: rgb(59, 59, 59);
}
.signup__container-formBody > *{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup__container-formBodyButtons{
    justify-content: flex-start;
    margin-left: 35px;
}
.MuiButton-root:first-of-type{
    background-color: rgb(26, 26, 26) !important;
}
.MuiTooltip-tooltip{
    font-size: 13px !important;
    background-color: rgb(27, 27, 27) !important;
}
.MuiButton-root:disabled{
    background-color: rgb(214, 214, 214) !important;
    color: rgb(97, 97, 97) !important;
}
.signup__container-footer{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(93, 93, 93);
}
.link{
    color: rgb(255, 102, 0);
    font-weight: 600;
    margin-left: 3px;
}
.signup__container-input1, .signup__container-input2{
    position: relative;
}
.visibility__icon{
    position: absolute;
    left: 85%;
    top: 25%;
    color: rgb(32, 32, 32);
}
.visibility__icon:hover{
    cursor: pointer;
}

@media all and (max-width: 800px){
    .signup__container{
        flex-direction: column;
    }
    .block2{
        align-items: center;
        text-align: center;
    }
    .block1 > .signup__container-form{
        padding: 20px 10px;
        width: 90%;
        max-width: 400px;
        box-shadow: none;
    }
    .signup__container-footer{
        font-size: 15px;
    }
}